@import '../../../../assets/styles/main';

.history {
  display: flex;
  flex-direction: column;
  gap: 16px;

  grid-column: 1/-1;
}

.history__cards {
  @include page-grid;

  row-gap: 16px;

  @include on-tablet {
    row-gap: 24px;
  }
}

.history__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  grid-column: 1/-1;

  @include on-tablet {
    flex-direction: row;
  }

  @include on-desktop {
    grid-column: span 6;
  }
}

.history__cardLink {
  position: relative;
  display: block;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  @include on-tablet {
    height: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 0;
  }
}

.history__cardImg {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
  transition: transform 0.4s ease;

  @include on-tablet {
    border-top-left-radius: 16px;
    border-top-right-radius: 0;
  }
}

.history__cardOverlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.history__card:hover .history__cardImg {
  transform: scale(1.1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.history__card:hover .history__cardOverlay {
  opacity: 0.3;
}

.history__cardLabel {
  position: absolute;
  left: 0;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-white;
  background-color: $color-system-error;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: transform 0.3s ease;
}

.history__bottom {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $color-white;
  box-shadow: 1px 2px 10px 0 #0000001a;
  padding-block: 8px 16px;
  padding-inline: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;

  @include on-tablet {
    padding-inline: 24px 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0;
    height: 183px;
  }
}

.history__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history__cardTitle {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0;
  color: $color-text-primary;
}

.history__btnBin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: inherit;
}

.history__wrappInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}

.history__wrappLocation {
  display: flex;
  align-items: center;
  gap: 4px;
}

.history__locationIcon {
  width: 24px;
  height: 24px;
}

.history__locationInfo {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: $color-text-primary;
}

.history__wrappTime {
  display: flex;
  align-items: center;
  gap: 4px;
}

.history__timeIcon {
  width: 24px;
  height: 24px;
}

.history__timeInfo {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: $color-text-primary;
}

.history__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  @include on-tablet {
    gap: 18px;
  }
}

.history__button {
  display: block;
  padding-block: 12px;
  border-radius: 8px;
  font-size: 16px;

  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: $color-white;
  background-color: $color-primary-500;
  cursor: pointer;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
  flex-grow: 1;
}

.history__button:hover {
  background-color: #5b7efa;
}

.history__button:active {
  background-color: #2044c7;
  outline: 1.5px solid #15339e;
}

.history__button:disabled {
  color: #b4c4fd;
  background-color: #7e99f6;
}

.history__time {
  font-size: 16px;
  font-weight: 600;

  line-height: 20px;

  color: #696977;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
