@import '../../../assets/styles/main';

.review {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid $color-stroke;
  border-radius: 16px;
  background-color: $color-white;
}

.reviewAsnwer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  // padding-inline: 16px;
  background-color: $color-white;
}

.review__comment {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-text-primary;
}

.review__buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.review__answer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-text-primary;
  background-color: inherit;
  cursor: pointer;
}

.review__answerIcon {
  display: block;
  width: 24px;
  height: 24px;

  transition: transform 0.3s ease-in;
}

.review__answerIconActive {
  transform: rotate(180deg);
}

.review__viewOnPage {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #204dee;
  color: #204dee;
  background-color: inherit;
  cursor: pointer;

  &:hover {
    color: $color-white;
    background-color: #bcbcff;
  }

  &:active {
    background-color: #7171ff;
  }

  &:disabled {
    border: 1px solid #7e99f6;
    color: #7e99f6;
    background-color: $color-white;
  }
}
