@import '../../../assets/styles/main';

.report {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: $color-white;
}

.report__header {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include on-tablet {
    flex-direction: row;
    gap: 16px;
  }
}

.report__title {
  width: 250px;
  height: 26px;

  @include on-tablet {
    width: 120px;
  }
}

.report__meta {
  display: flex;
  align-items: center;
  gap: 8px;
}

.report__date {
  width: 78px;
  height: 20px;
}

.report__status {
  width: 98px;
  height: 24px;
}

.report__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.report__reviewText {
  width: 250px;
  height: 40px;

  @include on-tablet {
    width: 100%;
    height: 20px;
  }
}

.report__reason {
  width: 100%;
  height: 26px;
}

.report__systemMessage {
  width: 100%;
  height: 66px;

  @include on-tablet {
    height: 46px;
  }

  @include on-desktop {
    height: 26px;
  }
}

.report__footer {
  width: 100%;

  @include on-tablet {
    max-width: 346px;
  }
}

.report__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.report__actionBtnSecondary {
  width: 117px;
  height: 45px;

  @include on-tablet {
    width: 165px;
  }
}

.report__actionBtnPrimary {
  width: 117px;
  height: 45px;

  @include on-tablet {
    width: 165px;
  }
}

.report__title,
.report__date,
.report__status,
.report__reviewText,
.report__reason,
.report__systemMessage,
.report__actionBtnSecondary,
.report__actionBtnPrimary {
  border-radius: 8px;

  background: linear-gradient(110deg, #d6d6d6 8%, #e2e2e2 18%, #d6d6d6 33%);

  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
