@import '../../../../assets/styles/main';

.cardContainer {
  grid-column: 1/-1;

  @include page-grid;

  align-items: center;
  row-gap: 16px;

  @include on-tablet {
    row-gap: 32px;
  }
}

.cardContainer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1;
  padding-block: 5px;
}

.cardContainer__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;

  color: $color-text-primary;

  @include on-desktop {
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
  }
}

.cardContainer__info {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #696977;

  @include on-tablet {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }

  @include on-desktop {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
  }
}

.cardContainer__btnWrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  transition: transform 0.25s ease;
}

.cardContainer__btnInfo {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  white-space: nowrap;
  color: $color-text-primary;

  transition: color 0.25s ease;
}

.cardContainer__btnInfoImage {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.cardContainer__cards {
  row-gap: 16px;
  grid-column: 1/-1;

  @include page-grid;
}

.cardContainer__btnWrapper:hover .cardContainer__btnInfo {
  color: $color-primary-500;
}

.cardContainer__btnWrapper:hover .cardContainer__btnInfoImage {
  transform: translateX(4px);
}
