@import '../../assets/styles/main';

.searchPage {
  position: relative;
  min-height: calc(100vh - 60px);
  background-color: $color-background;

  @include content-padding;
}

.searchPage__back {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: inherit;
  cursor: pointer;

  img {
    transition: transform 0.2s ease;
  }

  &:hover img {
    transform: translateX(-4px);
  }
}

.searchPage__container {
  @include page-grid;

  padding-block: 24px 40px;

  @include on-desktop {
    padding-block: 40px;
  }
}

.searchPage__filters {
  position: fixed;

  z-index: 100;
  display: flex;
  flex-direction: column;
  align-self: start;
  overflow: hidden;
  height: 100vh;
  padding: 16px;
  background-color: $color-white;
  transition: transform 0.3s ease;

  transform: translateX(-100%);
  inset: 0;

  @include content-padding;

  @include on-desktop {
    position: static;
    display: flex;
    flex-direction: column;
    align-self: start;
    height: auto;
    min-height: auto;
    padding: 16px;
    border-radius: 8px;
    background-color: $color-white;
    box-shadow: 1px 2px 10px 0 #0000001a;

    transform: none;
    grid-column: span 3;
    grid-row: 1/20;
    overflow-y: visible;
  }
}

.searchPage__filtersActive {
  transform: translateX(0);
}

.searchPage__form {
  grid-column: 1 / -1;
  margin-bottom: 24px;

  @include on-tablet {
    grid-column: 1 / -1;
  }

  @include on-desktop {
    grid-column: 4 / -1;
  }
}

.searchPage__currentView {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 4 / -1;
  }

  @include on-desktop {
    grid-column: 4 / -1;
  }
}

.searchPage__currentViewExist {
  margin-bottom: 24px;

  @include on-tablet {
    grid-column: 4 / -1;
  }

  @include on-desktop {
    grid-column: 4 / -1;
  }
}

.searchPage__wrapper {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;

  @include on-tablet {
    gap: 16px;
  }

  @include on-desktop {
    flex-direction: column;
    gap: 24px;
    grid-column: 4/-1;
  }
}

.searchPage__cafe {
  grid-column: span 4;
  margin-bottom: 8px;

  @include on-tablet {
    grid-column: span 3;
    margin-bottom: 16px;
  }

  @include on-desktop {
    grid-column: span 3;
    margin-bottom: 24px;
  }
}

.searchPage__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  padding-block: 140px;

  @include content-padding;

  @include on-tablet {
    padding-block: 136px;
  }

  @include on-desktop {
    padding-block: 151px;
  }
}

.searchPage__pagination {
  grid-column: 1/-1;

  @include on-desktop {
    grid-column: 4/-1;
  }
}

.searchPage__ordersButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  border: 1px solid #7e99f6;
  border-radius: 8px;
  font-size: 16px;

  font-weight: 700;
  line-height: 20px;
  color: $color-white;
  background-color: #204dee;
  cursor: pointer;

  grid-column: 1/-1;
  padding-block: 12px;
  padding-inline: 16px;

  &:hover {
    background-color: #5b7efa;
  }

  &:active {
    background-color: #2044c7;
    outline: 1.5px solid #15339e;
  }

  &:disabled {
    color: #b4c4fd;
    background-color: #7e99f6;
    cursor: default;
  }

  @include on-tablet {
    position: sticky;
    bottom: 65px;
    gap: 55px;
    margin-left: auto;
    border-radius: 16px;

    font-size: 24px;
    line-height: 31px;
    padding-block: 22px;
    padding-inline: 32px;
  }
}
