@import '../../assets/styles/main';

.aboutUs {
  min-height: calc(100vh - 60px - 531px);
  background-color: #e9eaef;

  @include on-tablet {
    min-height: calc(100vh - 60px - 486px);
  }

  @include on-desktop {
    min-height: calc(100vh - 60px - 345px);
  }
}

.aboutUs__content {
  padding-block: 16px 40px;

  @include content-padding;
  @include page-grid;

  @include on-tablet {
    padding-block: 32px 74px;
  }

  @include on-desktop {
    padding-block: 80px;
  }
}

// Header

.aboutUs__title {
  margin-bottom: 24px;
  font-size: 32px;

  font-weight: 700;
  line-height: 32px;
  color: #000;
  grid-column: 1/-1;

  @include on-tablet {
    display: flex;
    flex-direction: column;

    font-size: 48px;
    line-height: 56px;
  }

  @include on-desktop {
    margin-bottom: 80px;
    font-size: 80px;
    line-height: 90%;
    grid-column: span 7;
  }

  @include on-desktop-extra {
    grid-column: span 6;
  }
}

.aboutUs__titleSpec {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #8285b3;

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
  }

  @include on-desktop {
    font-size: 80px;
    line-height: 90%;
  }
}

.aboutUs__mainImage {
  grid-column: 1/-1;
  position: relative;
  margin-bottom: 60px;

  @include on-tablet {
    margin-bottom: 70px;
  }

  @include on-desktop {
    grid-column: 8/-1;
    margin-bottom: 0;
  }

  @include on-desktop-extra {
    grid-column: 7/-1;
  }
}

.cafe__image {
  width: 100%;
  height: 158px;
  object-fit: cover;
  border-radius: 21px;

  @include on-tablet {
    height: 316px;
  }

  @include on-desktop {
    height: 357px;
  }

  @include on-desktop-extra {
    height: 391px;
  }
}

.aboutUs__label {
  position: absolute;
  top: 136px;
  left: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  padding: 8px;
  border: 1px solid #dcdde6;
  border-radius: 12px;
  background-color: #fbfbfe;

  @include on-tablet {
    top: 232px;
    left: 40px;
    gap: 16px;
    padding: 16px;
    border-radius: 24px;
  }

  @include on-desktop {
    top: 286px;
    left: 16px;
  }
}

.aboutUs__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #0a0a0c;

  @include on-tablet {
    font-size: 24px;
    line-height: 31px;
  }

  @include on-desktop {
    font-size: 30px;
    line-height: 41px;
  }
}

.aboutUs__list {
  display: flex;
  align-items: center;
  gap: 16px;

  @include on-tablet {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

.aboutUs__item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;

  font-weight: 400;
  line-height: 15px;
  color: #696977;

  @include on-tablet {
    gap: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
  }
}

.aboutUs__itemIcon {
  width: 16px;
  height: 16px;

  @include on-tablet {
    width: 24px;
    height: 24px;
  }
}

.aboutUs__description {
  font-size: 16px;

  font-weight: 400;
  line-height: 20px;
  color: #0a0a0c;
  grid-column: 1/-1;

  @include on-desktop {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    grid-column: span 7;
  }

  @include on-desktop-extra {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    grid-column: span 6;
  }
}

.aboutUs__cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-column: 1/-1;
  margin-top: 48px;

  @include on-tablet {
    margin-top: 40px;
  }

  @include on-desktop {
    gap: 24px;
    margin-top: 80px;
  }
}

.aboutUs__cardsTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #0a0a0c;

  @include on-tablet {
    font-size: 24px;
    line-height: 31px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 56px;
  }
}

.aboutUs__cards {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include on-tablet {
    gap: 16px;
  }

  @include on-desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.aboutUs__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid #dcdde6;
  border-radius: 24px;
  background-color: #fbfbfe;

  @include on-tablet {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 24px;
    padding-bottom: 30px;
  }

  @include on-desktop {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 24px;
  }

  @include on-desktop-extra {
    flex-direction: row;
    align-items: center;
  }
}

.aboutUs__cardImage {
  width: 80px;
  height: 93px;
  margin: auto;

  @include on-tablet {
    margin: 0;
  }
}

.aboutUs__cardInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.aboutUs__cardTitle {
  margin: auto;
  font-size: 20px;

  font-weight: 700;
  line-height: 26px;
  color: #0a0a0c;

  @include on-tablet {
    margin: 0;
    font-size: 24px;
    line-height: 31px;
  }
}

.aboutUs__cardDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  color: #0a0a0c;
}

// Footer
.aboutUs__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background-color: #37373d;

  @include on-desktop {
    padding: 48px;
  }
}

.aboutUs__footerTitle {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #fbfbfe;

  @include on-tablet {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 41px;
  }

  @include on-desktop {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
}

.aboutUs__footerDescription {
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  color: #fbfbfe;

  @include on-tablet {
    width: 482px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
  }

  @include on-desktop {
    display: -webkit-box;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }
}

.aboutUs__button {
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #37373d;
  background-color: #fbfbfe;
  cursor: pointer;
}
