@import '../../../assets/styles/main';

.password {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 288px;

  background-color: inherit;

  @include on-desktop {
    width: 458px;
    padding: 24px 42px;
  }
}

.password__title {
  display: flex;
  flex-direction: column;
  font-size: 24px;

  font-weight: 700;
  line-height: 31px;
  text-align: center;

  color: #0a0a0c;

  @include on-desktop {
    font-size: 32px;
    line-height: 41px;
  }
}

.password__form {
  display: flex;
  flex-direction: column;
}

.password__createPassword {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;

  margin-bottom: 16px;
}

.password__confirmPassword {
  display: flex;
  flex-direction: column;
  gap: 3px;

  margin-bottom: 24px;
}

.password__label {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #0a0a0c;
}

.password__input {
  border: 1px solid #dcdde6;

  border-width: 1px;
  border-radius: 8px;

  color: #0a0a0c;

  padding-block: 12px;
  padding-inline: 8px;
}

.password__input::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  color: #9a9aa9;
}

.password__input:focus::placeholder {
  opacity: 0;
}

.password__inputError {
  border: 1px solid #ffca00;
}

.password__errorMessage {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #ffca00;
}

.password__wrapperError {
  position: absolute;
  bottom: 30px;
  left: -37px;
  width: 184px;

  @include on-tablet {
    width: 290px;
  }
}

.password__descriptionError {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border: 1px solid #dcdde6;
  border-radius: 8px;

  background-color: #fbfbfe;
  box-shadow: 1px 2px 7px 0 #0000001a;

  @include on-tablet {
    padding: 16px;
  }

  &::before {
    position: absolute;
    bottom: -20px;
    left: 34px;
    width: 26px;
    height: 26px;
    background-image: url('../../../assets/icons/form-icons-validation/triangle.svg');
    content: '';
    background-repeat: no-repeat;
  }
}

.password__strength {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #0a0a0c;

  @include on-tablet {
    font-size: 20px;
    line-height: 26px;
  }
}

.password__line0 {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 8px;
  background-color: #dcdde6;

  @include on-tablet {
    height: 8px;
  }
}

.password__line20 {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 8px;
  background-color: #dcdde6;

  @include on-tablet {
    height: 8px;
  }

  &::before {
    position: absolute;
    left: 0;
    width: 20%;
    height: 5px;
    border-radius: 8px;
    background-color: #ffca00;
    content: '';

    @include on-tablet {
      height: 8px;
    }
  }
}

.password__line50 {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 8px;
  background-color: #dcdde6;

  @include on-tablet {
    height: 8px;
  }

  &::before {
    position: absolute;
    left: 0;
    width: 50%;
    height: 5px;
    border-radius: 8px;
    background-color: #ffca00;
    content: '';

    @include on-tablet {
      height: 8px;
    }
  }
}

.password__line70 {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 8px;
  background-color: #dcdde6;

  @include on-tablet {
    height: 8px;
  }

  &::before {
    position: absolute;
    left: 0;
    width: 70%;
    height: 5px;
    border-radius: 8px;
    background-color: #ffca00;
    content: '';

    @include on-tablet {
      height: 8px;
    }
  }
}

.password__line100 {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 8px;
  background-color: #dcdde6;

  @include on-tablet {
    height: 8px;
  }

  &::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 8px;
    background-color: #ffca00;
    content: '';

    @include on-tablet {
      height: 8px;
    }
  }
}

.password__errorList {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: auto;
}

.password__errorItem {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 10px;

  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;

  color: #0a0a0c;

  @include on-tablet {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

.password__icon {
  display: inline-block;
  width: 15px;
  height: 15px;

  @include on-tablet {
    width: 24px;
    height: 24px;
  }
}

.password__inputErrorConfirm {
  border: 1px solid #b70000;
}

.password__errorMessageConfirm {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #b70000;
}

.password__buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.password__buttonSecondary {
  flex: 1;
  padding-block: 12px;
  border: 1px solid #204dee;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #204dee;
  background-color: inherit;
  cursor: pointer;

  &:hover {
    color: $color-white;
    background-color: #bcbcff;
  }

  &:active {
    background-color: #7171ff;
  }

  &:disabled {
    border: 1px solid #7e99f6;
    color: #7e99f6;
    background-color: $color-white;
  }
}

.password__buttonPrimary {
  flex: 1;
  padding-block: 12px;
  border: 1px solid #7e99f6;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: $color-white;
  background-color: #204dee;
  cursor: pointer;

  &:hover {
    background-color: #5b7efa;
  }

  &:active {
    background-color: #2044c7;
    outline: 1.5px solid #15339e;
  }

  &:disabled {
    color: #b4c4fd;
    background-color: #7e99f6;
    cursor: default;
  }
}

.password__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin: auto;

  @include on-desktop {
    flex-direction: row;
  }
}

.password__isRegister {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #252626;
}

.password__signIn {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #204dee;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 9%;
  text-decoration-skip-ink: auto;
}
