// Primary colors
$color-primary-500: #4747f9;
$color-primary-600: #7979f0;
$color-primary-200: #9cb1ff;
$color-primary-100: #e6eaf9;

// Secondary colors
$color-secondary-500: #7979f0;

// Neutral colors
$color-white: #fbfbfe;
$color-background: #e9eaef;
$color-stroke: #dcdde6;

// System colors
$color-system-error: #b70000;
$color-system-success: #20b100;
$color-system-warning: #ffca00;

// Text colors
$color-text-primary: #0a0a0c;
$color-text-secondary: #696977;
