@import '../../../assets/styles/main';

.details {
  box-sizing: border-box;

  overflow-y: auto;

  width: 100%;
  max-height: 800px;
  margin: auto 0;
  border-radius: 16px;
  background-color: $color-white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: max-height 0.3s ease-in;
}

.detailsActive {
  max-height: 2000px;
}

.detailsOnCafePage {
  background-color: #e9eaef;
  box-shadow: none;
}

.details__container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-desktop {
    gap: 20px;
  }
}

.details__form {
  display: flex;
  flex-direction: column;

  @include on-desktop {
    padding-inline: 16px;
  }
}

.details__wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;

  @include on-desktop {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 24px;
  }

  @include on-desktop-extra {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 16px;
  }
}

// bottom
.details__times {
  padding-inline: 16px;

  @include on-desktop {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 32px;

    padding-inline: 0;
  }
}

.details__timesTitle {
  display: none;

  @include on-desktop {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0;
    color: #4f4f4f;
  }
}

.details__timesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;

  @include on-desktop {
    gap: 24px;
    margin: 0;
  }
}

.details__button {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 120px;

  padding: 7px;
  border: 1px solid #dcdde6;
  border-radius: 10px;
  font-size: 16px;

  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  color: #000;
  background-color: #fbfbfe;
  cursor: pointer;
  transition: background-color 0.2s ease;

  @include on-tablet {
    min-width: 170px;
    padding-block: 20px;
  }

  @include on-desktop {
    min-width: 148px;
    padding-block: 12px;
  }
}

.details__buttonSpec {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.details__line {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 16px;

  @include on-tablet {
    width: 95%;
  }

  @include on-desktop {
    display: none;
  }
}
